.bannerbox{
    position: relative;
    overflow: hidden;
    width: 90%;
    border-radius: 8px;
    height: 300px;
    top: 50px;
}

@media (min-width:750px){
.bannerbox{
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto; 
    border-radius: 8px;
    height: 200px;

}


}

@media (max-width:650px){
.bannerbox{
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto; 
    border-radius: 8px;
    height: 120px;

}


}